<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springmvc.mapper.system.TCustomerDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.baomidou.springmvc.model.system.TCustomer">
        <id column="customerId" property="customerId" />
        <result column="customerName" property="customerName" />
        <result column="customerTel" property="customerTel" />
        <collection property="tickets" ofType="TTicket">
            <id column="ticketId" property="ticketId"/>
            <result column="ticketAddress" property="ticketAddress"/>
            <result column="ticketPrice" property="ticketPrice"/>
            <result column="ticketCId" property="ticketCId"/>
        </collection>
    </resultMap>
    <select id="selectCoustemerByName" parameterType="int" resultMap="BaseResultMap">
        <![CDATA[
            select c.*,t.* FROM t_customer c,t_ticket t WHERE c.customerId=t.ticketCId AND c.customerId=#{customerId};
        ]]>
    </select>
</mapper>
